<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate all sorts of English text to meows.">
    <meta name="author" content="Tim K">
    <title>Cat Language Translator</title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">Cat Language Translator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api">API</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://timkoi.gitlab.io">Other projects</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  @content@
</main>
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Copyright (C) <a href="http://timkoi.gitlab.io">Tim K/RoverAMD</a> 2018-2019. Source code on <a href="http://github.com/timkoi/catlanguage-web">GitHub</a>.</span>
  </div>
</footer>
</body>
</html>


